@charset "UTF-8";

/* typical device breakpoints:
pequenas telas: até 600px
Celular: 601px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
grandes telas: acima de 1200px
*/ 

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}